@model FlowerShop.Web.ViewModels.SupplierViewModel
@{
	ViewData["Title"] = "Create";
}

<h1>Thêm nhà cung cấp</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CompanyName" class="control-label">Tên nhà cung cấp</label>
				<input asp-for="CompanyName" class="form-control" />
				<span asp-validation-for="CompanyName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TaxCode" class="control-label">Mã Taxcode</label>
				<input asp-for="TaxCode" class="form-control" />
				<span asp-validation-for="TaxCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label">Số điện thoại</label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="control-label">Mô tả</label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Address" class="control-label">Địa chỉ</label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="Image" class="control-label">Ảnh đại diện</label>
				<div style="display: flex; align-items: center;">
					<input type="file" id="Image" name="Image" class="form-control" accept="image/*" style="flex: 1;" />
					<button id="clearImage" type="button" class="btn btn-danger btn-sm" style="margin-left: 10px; display: none;" onclick="clearSelectedImage()">Xóa</button>
				</div>
				<span class="text-danger" asp-validation-for="Images"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Thêm" class="btn btn-primary" />
			</div>

		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

<script>
	document.getElementById('Image').addEventListener('change', function () {
		const clearButton = document.getElementById('clearImage'); // Nút xóa
		if (this.files.length > 0) {
			// Hiển thị nút xóa nếu có tệp được chọn
			clearButton.style.display = 'inline-block';
		} else {
			// Ẩn nút xóa nếu không có tệp nào được chọn
			clearButton.style.display = 'none';
		}
	});

	function clearSelectedImage() {
		const fileInput = document.getElementById('Image'); // Trường input file
		const clearButton = document.getElementById('clearImage'); // Nút xóa

		// Reset giá trị của input file
		fileInput.value = '';

		// Ẩn nút xóa
		clearButton.style.display = 'none';
	}

</script>