@model IEnumerable<FlowerShop.DataAccess.Models.SaleInvoice>

@{
	ViewData["Title"] = "Giao thành công";
}

<h1>Danh sách đơn hàng giao thành công</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Mã đơn hàng
			</th>
			<th>
				Tên khách hàng
			</th>
			<th>
				Ngày tạo hóa đơn
			</th>
			<th>
				Lý do giao thất bại
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr id="hoadon-row-@item.Id">
				<td class="text-center" style="padding-right:60px">
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Customer.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreateDay)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Note)
				</td>
				<td>
					<span class="badge badge-danger d-flex align-items-center justify-content-center" style="font-size: 100%; width: 90px;">
						Thất bại
					</span>
				</td>
			</tr>
		}
	</tbody>
</table>